@import "tailwindcss";

@theme {
  --color-chalet-dark: #4C6A93;
  --color-chalet-text-dark: #3F3E45;
  --color-chalet-input: #E3DEDE;
  --color-chalet-beige: #E4DFD5;
  --color-chalet-next-month: #B6906D;
  --color-chalet-booked: #3F3E45;
  
  --font-serif: "Gabriela", serif;
  --font-sans: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-sans);
  color: var(--color-chalet-text-dark);
  background-color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}